@font-face {
    font-family: 'Gilam';
    src: url(./fonts/Gilam-Trial-Regular.ttf), url(./fonts/Gilam-Trial-Bold.ttf), url(./fonts/Gilam-Trial-SemiBold.ttf), url(./fonts/Gilam-Trial-Book.ttf);
}
.page-container {
    width: 100vw;
    /* height: 100vh; */
    background: #171717;
}
/* HEADER */
.header {

}
.container {
    width: 1460px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    
}
.button {
    color: #E4B564;
    border: 1px solid #E4B564;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 25px;
    cursor: pointer;
}
.button:hover{
    text-decoration: underline;
    color: #E4B564;
}
.button img {
    padding-right: 8px;
}
/* MAIN content */
.outdoor-heating-info {
    padding-bottom: 41px;
    padding-top: 120px;
}
.outdoor-heating-title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
.outdoor-heating-text {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 41px;
}
/* GRID container 1 */
.outdoor-heating-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 29px;
    row-gap: 27px;
    height: 1124px;
    padding-bottom: 161px;
}
.outdoor-heating-grid div {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}
.outdoor-heating-grid-item1 {
    background: #634F2C;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.outdoor-heating-grid-item2 {
    background: #B4A385;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
.outdoor-heating-grid-item3 {
    background: #E4B564;
    grid-column: 5 / 7;
    grid-row: 1 / 2;
}
.outdoor-heating-grid-item4 {
    background: #635A4A;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.outdoor-heating-grid-item5 {
    background: #B08C4D;
    grid-column: 4 / 7;
    grid-row: 2 / 3;
}
.outdoor-heating-grid-text {
    padding-top: 220px;
}
/* GRID container 2 */
.own-equipment-title {
    padding-bottom: 94px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
.own-equipment-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    column-gap: 29px;
    row-gap: 26px;
    height: 1088px;
    padding-bottom: 191px;
}
.own-equipment-grid-item1 {
    background: #0E0E0E;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.own-equipment-grid-item2 {
    background: #242424;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
.own-equipment-grid-item3 {
    background: #1F1F1F;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.own-equipment-grid-item4 {
    background: #1F1F1F;
    grid-column: 1 / 2;
    grid-row: 3 / 7;
}
.own-equipment-grid-item5 {
    background: #0E0E0E;
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}
.own-equipment-grid-item6 {
    background: #E4B564;
    grid-column: 2 / 3;
    grid-row: 4 / 7;
}
.own-equipment-grid-item7 {
    background: #0A0909;
    grid-column: 3 / 4;
    grid-row: 5 / 7;
}
.own-equipment-grid div {
    font-family: 'Gilam';
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 48px;
}
.weight400 {
    font-weight: 400;
}
.weight500 {
    font-weight: 500;
}
.weight700 {
    font-weight: 700;
}
/* FOOTER */
.footer {
    background-color: #0E0E0E;
    padding-bottom: 238px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 161px;
    padding-bottom: 61px;
}
.footer-title {
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
/* GRID container 3 */
.our-clients-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 782px;
}
.our-clients-grid img {
    object-fit: contain;
}
.our-clients-grid-item1 {
    background: #634F2C;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-clients-grid-item2 {
    background: rgba(232, 210, 171, 0.76);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-clients-grid-item3 {
    background: #E4B564;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-clients-grid-item4 {
    background: #635A4A;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-clients-grid-item5 {
    background: #B08C4D;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-clients-grid-item6 {
    background: #634F2C;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-clients-grid-text {
    font-family: 'Gilam';
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}
.weight600 {
    font-weight: 600;
}
